<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="wb_blockedcustomerbyemail" translate="label" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Blocked Customer By Email</label>
            <tab>customer</tab>
            <resource>WB_BlockedCustomerByEmail::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="blocked_emails" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Blocked Emails</label>
                    <comment>Enter comma-separated emails to block.</comment>
                </field>
                <field id="blocked_ips" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Blocked IPs</label>
                    <comment>Enter comma-separated IP addresses to block.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
